{{define "content"}}
<div class="row">
  <div class="col-xs-12">
    <h2>{{ .Data.Group.Name }} <small>{{ .Data.Group.Email }}</small></h2>

    <div class="panel panel-primary">
      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
          <li role="presentation"><a href="#documenttypes" aria-controls="documenttypes" role="tab" data-toggle="tab">Document types</a></li>
          <li role="presentation"><a href="#batches" aria-controls="batches" role="tab" data-toggle="tab">Batches</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="documents">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-bordered">
                  <tr>
                    <th class="col-xs-2">Type</th>
                    <th class="col-xs-5">Name</th>
                    <th class="col-xs-2">Date</th>
                    <th class="col-xs-2">User</th>
                    <th class="col-xs-1">Action</th>
                  </tr>

                  {{ range $i, $doc := .Data.Group.Documents }}
                    <tr>
                      <td>{{ $doc.DocumentType.Name }}</td>
                      <td>{{ $doc.Name }}</td>
                      <td>{{ $doc.DocumentDate }}</td>
                      <td>{{ $doc.User.Email }}</td>
                      <td>
                        <a href="/document/{{ $.Data.Group.ID.Hex }}/{{ $i }}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                        <a href="/document/{{ $.Data.Group.ID.Hex }}/{{ $i }}/delete"><i class="text-danger fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  {{ end }}

                </table>
                <a href="/document/{{ .Data.Group.ID.Hex }}" class="btn btn-primary">
                  New
                </a>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="documenttypes">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-bordered">
                  <tr>
                    <th class="col-xs-2">Code</th>
                    <th class="col-xs-9">Name</th>
                    <th class="col-xs-1">Action</th>
                  </tr>

                  {{ range $i, $dt := .Data.Group.DocumentTypes }}
                    <tr>
                      <td>{{ $dt.Code }}</td>
                      <td>{{ $dt.Name }}</td>
                      <td>
                        <a href="/document_type/{{ $.Data.Group.ID.Hex }}/{{ $i }}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                        <a href="/document_type/{{ $.Data.Group.ID.Hex }}/{{ $i }}/delete"><i class="text-danger fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  {{ end }}

                </table>
                <a href="/document_type/{{ .Data.Group.ID.Hex }}" class="btn btn-primary">
                  New
                </a>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="batches">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-bordered">
                  <tr>
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-8">Execution Date</th>
                    <th class="col-xs-1">Action</th>
                  </tr>

                  {{ range $i, $batch := .Data.Group.Batches }}
                    <tr>
                      <td>{{ $batch.Name }}</td>
                      <td>{{ $batch.ExecutionDate }}</td>
                      <td>
                        <a href="/batches/{{ $.Data.Group.ID.Hex }}/{{ $i }}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                        <a href="/batches/{{ $.Data.Group.ID.Hex }}/{{ $i }}/delete"><i class="text-danger fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  {{ end }}

                </table>
                
                 <a href="/batch/{{ .Data.Group.ID.Hex }}" class="btn btn-primary">
                  New
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Javascript to enable link to tab
  var url = document.location.toString();
  if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + ']').tab('show');
  } //add a suffix

  // Change hash for page-reload  
  $('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
  })
</script>

{{ end }}
